# Dataset Folders
ai_engine/datasets/dataset-carrot/
ai_engine/datasets/dataset-chili/
ai_engine/datasets/dataset-cucumber/
ai_engine/datasets/dataset-tomato/

# YOLO Weights and Runs
ai_engine/runs/
ai_engine/*.pt
!ai_engine/export_models/*.pt

# Python Caches
__pycache__/
*/__pycache__/
*.pyc
